.snip1541 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1541 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1541 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1541 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
  opacity: 0;
  -webkit-transform: translateX(75%) rotate(180deg);
  transform: translateX(75%) rotate(180deg);
}
/* 
.snip1541 figcaption:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url('/static/images/flocon2.png');
  border-radius: 50%;
  content: '';
  height: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0px;
  z-index: -1;
} */
.snip1541 h3 {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1541 h3 span {
  display: block;
  font-weight: 800;
}

.snip1541 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1541.clicked > img {
  opacity: 0.05;
}

.snip1541.clicked figcaption {
  -webkit-transform: translate(0px) rotate(0deg);
  transform: translate(0px) rotate(0deg);
  opacity: 1;
}

/* Styles pour la boîte modale */
.modal {
  display: none; /* Cachée par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fond sombre avec transparence */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Fermer la boîte modale avec un clic */
.modal.show {
  display: flex; /* Affiche la boîte modale */
}
